<% if comment.errors.any? %>
<div class="notification is-warning">
  <%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:
  <ul>
    <% comment.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: [@commentable, @comment], class: "form") do |form| %>
<%= form.label :body, style: "display: block", class: "label" %>
<div class="field">
  <%= form.text_area :body, class: "textarea" %>
</div>
<%= form.submit class: "button is-link" %>
<% end %>
