<% if @prediction.errors.any? %>
<div class="notification is-warning">
  <%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:
  <ul>
    <% @prediction.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: [@predictor, @prediction], class: "form" ) do |form| %>
<%= form.label :title, style: "display: block", class: "label" %>
<div class="field">
  <%= form.text_area :title, class: "input", type: "text" %>
</div>
<%= form.label :body, style: "display: block", class: "label" %>
<div class="field">
  <%= form.text_area :body, class: "textarea" %>
</div>
<%= form.label :duedate, style: "display: block", class: "label" %>
<div class="field">
  <%= form.date_field :duedate, class: "input", max: Date.today + 36500 %>
</div>
<%= form.submit class: "button is-link" %>
<% end %>

