
<table>
<%= render template: "layouts/voting", locals: { votable: prediction, destination: prediction_vote_path(prediction) } %>

</table>
<%= link_to prediction.title, prediction_path(prediction) %>

<%= prediction.body %>
<em>Created by <%= User.find(prediction.user_id).email %> on <%= prediction.created_at.to_date %></em>

