
<div id="<%= dom_id prediction %>">

<%= render template: "layouts/voting", locals: { votable: prediction, destination: prediction_vote_path } %>

<div class="block">
  <div class="content"><strong>Title: </strong><%= prediction.title %>
    <br><strong>Body: </strong><%= prediction.body %>
    <br><strong>Duedate: </strong><%= prediction.duedate %>
    <br><strong>Predictor ID: </strong><%= prediction.predictor_id %>
  </div>
</div>

</div>
