<div class="section">
  <div class="block">
    <%= link_to 'Create New Predictor', new_predictor_path, class: "button is-link" %>
  </div>

  <div class="block">
    <%= form_with url: "/predictors", method: :get do |form| %>
    <%= form.text_field :query, class: "input" %>
    <%= form.submit "Search", class: "button is-link" %>
    <% end %>
  </div>

  <% @predictors.each do |predictor| %>
  <div class="card">
    <div class="card-content">
      <%= link_to predictor.title, predictor_path(predictor) %>
    </div>
  </div>
  <% end %>

  <div class="digg_pagination">
    <%= will_paginate @predictors, :container => false  %>
  </div>
</div>

