<div class="section">
  <%= link_to 'Create New Predictor', new_predictor_path %>

  <%= form_with url: "/predictors", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
  <% end %>

<% @predictors.each do |predictor| %>
  <%= link_to predictor.title, predictor_path(predictor) %><br>
<% end %>
</div>

