<% if @outcome.errors.any? %>
<div class="notification is-warning">
  <%= pluralize(@outcome.errors.count, "error") %> prohibited this outcome from being saved:
  <ul>
    <% @outcome.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: [@prediction, @outcome], class: "form" ) do |form| %>
<%= form.label :title, style: "display: block", class: "label" %>
<div class="field">
<div class="select">
<%= form.select :result, Outcome.results.keys.map { |result| [result.titleize, result] }, { prompt: 'Select a Result' } %>
</div>
</div>

<%= form.label :body, class: "label" %>
<div class="field">
<%= form.text_area :body, class: "textarea" %>
</div>
<%= form.submit class: "button is-link" %>
<% end %>

