<div class="columns">

  <div class="column is-1">
    <%= render template: "layouts/voting", locals: { votable: outcome, destination: outcome_vote_path(outcome) } %>
  </div>
  <div class="column">
    <strong><%= link_to outcome.result, outcome %></strong>
  </div>

</div>

<div class="block">
  <%= simple_format(outcome.body) %>
</div>

<div class="block">
  <em>Created by <%= User.find(outcome.user_id).username %> on <%= outcome.created_at.to_date %></em>
</div>
