<p style="color: green"><%= notice %></p>

<%= render @outcome %>

<div>
  <%= link_to "Edit this outcome", edit_outcome_path(@outcome) %> |
  <%= link_to "Back to outcomes", outcomes_path %>

  <%= button_to "Destroy this outcome", @outcome, method: :delete %>
</div>
