<%= render @outcome %>

<div class="block">
  <%= link_to 'Lodge a report', new_outcome_report_path(@outcome) %> | 
  <%= link_to "Edit this outcome", edit_outcome_path(@outcome) %> | 
  <%= link_to "Destroy this outcome", @outcome, method: :delete %>
</div>

<h3 class="title is-5">Comments</h5>

<% @comments.each do |comment| %>
<div class="block">
  <br>
  <%= comment.body %>
  <br>
  <em>Created at: <%= comment.created_at %></em>
</div>
<% end %>

<%= link_to 'Add New Comment', new_outcome_comment_path(@outcome) %>

