<p style="color: green"><%= notice %></p>

<%= render @outcome %>

<p>
<%= link_to 'Lodge a report', new_report_path(outcome_id: @outcome.id) %>
</p>
<div>
  <%= link_to "Edit this outcome", edit_outcome_path(@outcome) %> |
  <%= link_to "Back to outcomes", outcomes_path %>

  <%= button_to "Destroy this outcome", @outcome, method: :delete %>
</div>


<h3>Comments</h3>

<% @comments.each do |comment| %>
<p>
  <%= comment.created_at %>
  <br>
  <%= comment.body %>
  <br>
  <hr>
</p>
<% end %>

<%= link_to 'Add New Comment', new_outcome_comment_path(@outcome) %>

