<%= render @outcome %>

<div class="block">
<em>Created by <%= User.find(@outcome.user_id).email %> on <%= @outcome.created_at.to_date %></em>
</div>

<div class="block">
  <%= link_to 'Lodge a report', new_outcome_report_path(@outcome) %> | 
  <%= link_to "Edit this outcome", edit_outcome_path(@outcome) %> | 
  <%= link_to "Destroy this outcome", @outcome, method: :delete %>
</div>

<h3 class="title is-5">Comments</h5>

<% @comments.each do |comment| %>
<div class="block">
  <br>
  <%= comment.body %>
  <br>
  <em>Created by <%= User.find(comment.user_id).email %> on <%= comment.created_at.to_date %></em>

</div>
<% end %>

<%= link_to 'Add New Comment', new_outcome_comment_path(@outcome) %>

