<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <!-- <%= form.label :reason, style: "display: block" %> -->
    <!-- <%= form.number_field :reason %> -->

    <%= form.select :reason, @reason_list, { prompt: 'Select a Reason' } %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.hidden_field :status, value: "Pending" %>

    <%= form.hidden_field :reportable_id, value: @reportable_id %>
    <%= form.hidden_field :reportable_type, value: @reportable_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
