<%= form_with(model: @report) do |form| %>
<% if report.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

  <ul>
    <% report.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= form.select :reason, @reason_list, { prompt: 'Select a Reason' } %>

  <%= form.label :body, style: "display: block" %>
  <%= form.text_area :body %>
  <%= form.hidden_field :status, value: "Pending" %>

  <%= form.submit %>
<% end %>
