<%= render @report %>

<div class="block">
  <%= link_to "Edit this report", edit_report_path(@report) %> |
  <%= link_to "Destroy this report", @report, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bulma-delete-mixin is-large" %>
</div>

<div class="title is-5">Comments:</div>

<% @comments.each do |comment| %>
<div class="block">
  <%= comment.created_at %>
  <br>
  <%= comment.body %>
</div>
<% end %>

<%= link_to 'Add New Comment', new_report_comment_path(@report) %>
