<!DOCTYPE html>
<html>
  <head>
    <title>Prediction Tracker: Track predictions, keep experts accountable.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script>
      document.addEventListener("turbo:load", () => {
	  // Get all "navbar-burger" elements
	  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
	  // Add a click event on each of them
	  $navbarBurgers.forEach( el => {
	      el.addEventListener('click', () => {
		  // Get the target from the "data-target" attribute
		  const target = el.dataset.target;
		  const $target = document.getElementById(target);
		  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
		  el.classList.toggle('is-active');
		  $target.classList.toggle('is-active');
	      });
	  });
      });
      // Function to save scroll position and refresh
      function saveScrollPosition() {
	  sessionStorage.setItem('scrollPosition', window.scrollY);
      }

      // Function to restore scroll position after page load
      document.addEventListener('turbo:load', (event) => {
	  if (sessionStorage.getItem('scrollPosition')) {
      window.scrollTo(0, parseInt(sessionStorage.getItem('scrollPosition')));
      sessionStorage.removeItem('scrollPosition');
      }
      });
    </script>
  </head>

  <body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
	<%= link_to 'Prediction Tracker', root_path, class: "navbar-item is-active has-text-weight-bold" %> 
	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
	  <span aria-hidden="true"></span>
	  <span aria-hidden="true"></span>
	  <span aria-hidden="true"></span>
	</a>
      </div>

      <div class="navbar-menu" id="navMenu">
	<div class="navbar-start">
	  <%= link_to 'Home', root_path, class: "navbar-item" %> 
	  <%= link_to 'About', about_path, class: "navbar-item" %> 
	  <%= link_to 'Predictors', predictors_path, class: "navbar-item" %> 
	  <%= link_to 'Predictions', predictions_path, class: "navbar-item" %> 
	  <%= link_to 'Outcomes', outcomes_path, class: "navbar-item" %> 
	  <% if user_signed_in? then %> 
	  <%= link_to 'Feedback', feedback_path, class: "navbar-item" %> 
	  <% end %>
	  <% if user_signed_in? && current_user.admin? then %> 
	  <%= link_to 'Show Reports', reports_path, class: "navbar-item" %> 
	  <% end %>
	</div>

	<div class="navbar-end">
	  <% if user_signed_in? %>
	  <div class="navbar-item">
	    Signed in as <%= current_user.username %>
	  </div>
	  <%= link_to("Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "navbar-item" ) %>
	  <% else %>
	  <%= link_to("Sign in", new_user_session_url, class: "navbar-item") %>
	  <%= link_to("Sign up", new_user_registration_url, class: "navbar-item") %>
	  <% end %>
	</div>
      </div>
    </nav>

    <% if notice %>
    <div class="notification is-success">
      <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="notification is-danger">
      <%= alert %>
    </div>
    <% end %>

    <div class="section">
      <%= yield %>
    </div>
    <%# if Rails.env.development? then console end %>

  </body>
</html>
