<div style="text-align: center;" class="">
  <%= form_with url: destination, method: :post do |form| %>
  <%= form.hidden_field :vote, value: "Upvote" %>
  <%= form.hidden_field :votable_id, value: votable.id %>
  <% if user_signed_in? && current_user.voted_as_when_voted_for(votable) then %>
  <%= form.submit "&#x25B3;".html_safe, style: 'background-color: palegreen;' %>
  <% else %>
  <%= form.submit "&#x25B3;".html_safe %>
  <% end %>
  <% end %>
</div>
<div style="text-align: center;" class="">
  <%= votable.weighted_score %>
</div>
<div style="text-align: center;" class="">
  <%= form_with url: destination, method: :post do |form| %>
  <%= form.hidden_field :vote, value: "Downvote" %>
  <%= form.hidden_field :votable_id, value: votable.id %>
  <% if user_signed_in? && current_user.voted_as_when_voted_for(votable) == false then %>
  <%= form.submit "&#x25BD;".html_safe, style: 'background-color: pink;' %>
  <% else %>
  <%= form.submit "&#x25BD;".html_safe %>
  <% end %>
  <% end %>
</div>

